
.App {
  text-align: center;
}
.section-container {
  background-color: #FFFFFF;
  min-height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.section-left{
  display: flex;
  flex: 1;
  justify-content: center;
  
}
.section-right{
  display: flex;
  flex: 1;
  justify-content: center;
}
/*Image Style */
.image-style {
  border-radius: 5rem;
  height: 300px;
  width: 300px;
  object-fit:cover;
  align-self: center;
}

/*Text Style */
.text-container {
  flex-direction: column;
}
.text-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.text-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

/*Animation CSS*/
.span{

  background-color: red;
}


